---
---

@import "{{ site.theme }}"; 
h1 {color: #353535;}
h2 {text-decoration: underline; color: #00ff00;}
a {color: #d92c35;)
  a:hover {color: #353535}
button {color: #ffffff; background-color: #d92c35;}
  button:hover {color: #ffffff; background-color: #353535}
